@model IEnumerable<EventEase.Models.Event>

<h1>All Events</h1>
<p><a asp-action="Create" class="btn btn-primary">Add New Event</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.Description</td>
                <td>@item.EventDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>